* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}
a {
  font-size: inherit;
  color: inherit;
  /* text-decoration: none; */
}
a:visited {
  color: inherit;
}

body, html{
  margin: 0;
  padding: 0;
  border: none;
}

header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 20px -2px gray;
  z-index: 110;
}

.sticky {
  display: none;
}

.visible {
  display: visible;
}

.nav-logo {
  align-self: center;
  width: 35px;
  margin-top: 5px;
  margin-left: 50px;
}

.nav-links {
  align-self: center;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-link {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.nav-link-style {
  color: #444;
  text-decoration: none;
}

.nav-link-style:hover {
  color: #999;
}

.banner {
  height: 100vh;
  width: 100%;
  background: url('./greenroof-banner.jpg') no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.12);
}

.banner-content {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-logo {
  border-radius: 5px;
  width: 70vw;
}

.banner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 800px;
  margin-left: 320px;
  margin-top: -130px;
}

.rotational-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  width: 100%;
  border-bottom: 2px solid #ddd;
}
.rotational-content .rotational-content-header {
  font-size: 24px;
  color: #c12b5b;
  font-style: italic;
  opacity: 0.8;
  width: 1000px;
  text-align: left;
  margin-top: 0;
}
.rotational-content .rotational-content-footer {
  font-size: 12px;
  color: #c12b5b;
  font-style: italic;
  opacity: 0.8;
  width: 1000px;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0;
}

.new-content {
  display: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.12);
}

.new-content_thumbnail {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-right: 50px;
}

.content_img {
  width: 100%;
  height: 100%;
}

.new-content_text {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 300px;
  padding: 25px;
  border-radius: 2px;
  padding-top: 50px;
}

.article-text {
  font-size: 20px;
  align-self: center;
  font-family: 'Merriweather', serif;
}

.article-btn {
  align-self: center;
  margin-top: 30px;
  margin-left: -80px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 115px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.article-btn:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

.section {
  height: 700px;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.mission {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.mission-copy {
  flex-direction: column;
  position: relative;
  width: 40%;
}

.mission-copy_header {
  position: relative;
  font-family: 'Open Sans';
  font-size: 40px;
}

.mission-copy_header:after {
  content: '';
  position: absolute;
  width: 418px;
  height: 7px;
  top: 55px;
  left: 3px;
  background-color: #c12b5b;
}

.mission-copy_text {
  position: relative;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  line-height: 30px;
}

.mission-copy_text:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 10px;
  left: -20px;
  background-color: #8aad33;
}

.mission-btn {
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 200px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.mission-btn:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

.section_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.content-copy {
  width: 44%;
  border-radius: 2px;
  height: 100%;
  padding: 50px;
}

.image-container {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.img-round {
  display: block;
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-color: #ccc;
}

.brad-img {
  height: 200px;
}

.copy-header {
  font-size: 2rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #444;
}

.copy-text-container {
  display: flex;
}
.copy-text-container p {
  display: inline-block;
}
.copy-text-ellipsis-container {

}
.copy-text {
  /* width: 80%; */
  font-size: 14px;
  font-family: 'Merriweather';
  text-align: justify;
  line-height: 20px;
  color: #444;
  /* margin: 0 auto; */
}
.copy-text-read-more {
  padding-left: 5px;
  font-size: 85%;
  color: #555;
  font-style: italic;
}
.copy-emphasis {
  font-size: 1.2rem;
  color: #8bad33;
}

.copy-open-quote {
  margin-top: -50px;
}

/* .copy-open-quote::before {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>');
  background-size: 28px 28px;
  width: 40px;
  left: -55px;
  bottom: -15px;
  z-index: 100;
}

.copy-close-quote::after {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>');
  width: 40px;
  left: 104%;
  margin-top: -20px;
  z-index: 100;
} */

.content-img {
  width: 45%;
}

.content-img-src {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.bg-color {
  background-color: #f8f8f8;
}

.content-people {
  width: 50%;
}

.center {
  margin-top: 400px;
}

.people-cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 350px;
  padding: 50px;
  padding-top: 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* .image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
} */

.card-img {
  display: block;
  height: 100%;
  width: auto;
}

.card-name {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #555;
}

.card-title {
  margin-top: -5px;
  font-size: 1rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #777;
}

.card-content {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  font-family: 'Open Sans';
  color: #777;
  text-align: center;
  line-height: 30px;
}

.btn {
  margin: 0 auto;
  margin-top: 50px;
  height: 50px;
  width: 150px;
  background-color: rgb(221, 0, 0);
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 0, 0);
}

.resources-title {
  font-family: 'Open Sans';
  font-size: 2rem;
  color: #444;
  margin-left: 80px;
  margin-top: 100px;
}

.resource-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.resource-card {
  margin-left: 0;
  height: 480px;
  width: 380px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 50px;
}

.reference-title {
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 1.25rem;
  text-decoration: none;
  color: #555;
}

.reference-src {
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
}

.reference-content {
  margin-top: 15px;
  margin-bottom: 40px;
  font-family: 'Merriweather';
  line-height: 35px;
  color: #656565;
}

.reference-link {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 115px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans';
  cursor: pointer;
}

.reference-link:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

.footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-content1 {
  margin-top: -15px;
}

.footer-logo {
  margin-bottom: 30px;
  margin-left: 0px;
  width: 200px;
  fill: #555;
}

.footer-address {
  margin-top: -20px;
  font-style: normal;
  font-size: 1rem;
  font-family: 'Open Sans';
  color: #444;
}

.address-link {
  text-decoration: underline;
}


.footer-content2 {
  margin-top: -20px;
}

.footer-contact {
  color: #555;
  font-size: 1.5rem;
  font-family: 'Open Sans';
}

.footer-phone-link {
  text-decoration: none;
}

.footer-phone {
  color: #555;
  font-family: 'Open Sans';
  text-decoration: underline;
}

.footer-email-link {
  text-decoration: none;
}

.footer-email {
  color: #555;
  font-family: 'Open Sans';
  text-decoration: underline;
}

.address-link:hover, .footer-address:hover, .footer-phone:hover, .footer-email:hover {
  color: #999;
}

.content-author-container{
  display: flex;
  justify-content: flex-end;
}
.content-author {
  margin-top: 0;
  text-align: right;
  font-family: 'Merriweather', serif;
  color: #c12b5b;
}

.clickable-ellipses {
  display: inline-block;
  padding-left: 2px;
  color: #555;
  font-size: 36px;
}

.content-quote-container {
  display: flex;
  flex-direction: column;
}

.content-quote-container::before {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>');
  background-size: 28px 28px;
  width: 40px;
  left: -55px;
  bottom: -15px;
  z-index: 100;
}

.content-quote-container::after {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>');
  width: 40px;
  left: 104%;
  margin-top: -20px;
  z-index: 100;
}