* {
  box-sizing: border-box;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-size: inherit;
  color: inherit;
  /* text-decoration: none; */
}

a:visited {
  color: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
}

header {
  width: 100%;
}


/****************************************** 
  Navigation
******************************************/

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  top: 0;
  box-shadow: 0 2px 20px -2px gray;
  z-index: 110;
}

.sticky {
  display: none;
}

.visible {
  display: visible;
}

.nav-logo {
  align-self: center;
  width: 35px;
  margin-top: 5px;
  margin-left: 50px;
}

.nav-links {
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-link {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.nav-link-style {
  color: #444;
  text-decoration: none;
}

.nav-link-style:hover {
  color: #999;
}

/****************************************** 
  Banner
******************************************/

.banner {
  height: 100vh;
  width: 100%;
  background: url('./greenroof-banner.jpg') no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}

.banner-content {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-logo {
  border-radius: 5px;
  width: 80vw;
}

/****************************************** 
  Rotational Content
******************************************/

.rotational-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 100%;
  border-bottom: 2px solid #ddd;
  visibility: hidden;
}

.new-content {
  position: relative;
  display: flex;
  min-height: 200px;
  max-height: 200px;
  width: 700px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}

.rotational-content-header {
  position: absolute;
  font-family: 'Open Sans';
  font-size: 24px;
  color: #c12b5b;
  font-style: italic;
  width: 100px;
  text-align: left;
  top: -40px;
  left: 10px;
  margin-top: 0;
}

.rotational-content-footer {
  position: absolute;
  font-size: 12px;
  color: #c12b5b;
  font-style: italic;
  opacity: 0.8;
  width: 110px;
  bottom: -40px;
  right: 0;
}

.new-content_thumbnail {
  height: 200px;
  width: 250px;
  overflow: hidden;
  margin-right: 50px;
}

.content_img {
  width: 100%;
  height: 100%;
}

.new-content_text {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 2px;
  margin: 0 auto;
  padding-top: 20px;
}

.article-text {
  font-size: 14px;
  align-self: center;
  font-family: 'Merriweather', serif;
}

.article-btn {
  align-self: center;
  margin-top: 10px;
  margin-left: -20px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 140px;
  background-color: #888;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.article-btn:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

.article-link {
  text-decoration: none;
  color: #fff;
}

/****************************************** 
  Section
******************************************/

.section {
  height: 700px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.mission {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.mission-copy {
  flex-direction: column;
  position: relative;
  width: 40%;
}

.mission-copy_header {
  width: 500px;
  position: relative;
  font-family: 'Open Sans';
  font-size: 40px;
}

.mission-copy_header:after {
  content: '';
  position: absolute;
  width: 418px;
  height: 7px;
  top: 55px;
  left: 3px;
  background-color: #c12b5b;
}

.mission-copy_text {
  position: relative;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  line-height: 30px;
}

.mission-copy_text:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 10px;
  left: -20px;
  background-color: #8aad33;
  border-radius: 50%;
}

.mission-btn {
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 200px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.mission-btn:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

.section_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.content-copy {
  width: 44%;
  border-radius: 2px;
  height: 80%;
  padding: 50px;
}

.image-container {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.img-round {
  display: block;
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-color: #ccc;
}

.brad-img {
  height: 200px;
}

/* center fix for team content text*/
.center {
  align-self: center;
  height: 100%;
}

.copy-header {
  font-size: 2rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #444;
}

.copy-text-container {
  display: flex;
}


.copy-text-container p {
  display: inline-block;
}

.copy-text-ellipsis-container {}

.copy-text {
  /* width: 80%; */
  font-size: 14px;
  font-family: 'Merriweather';
  text-align: justify;
  line-height: 20px;
  color: #444;
  /* margin: 0 auto; */
}

.copy-text-read-more {
  padding-left: 5px;
  font-size: 85%;
  color: #555;
  font-style: italic;
}

.copy-emphasis {
  font-size: 1.2rem;
  color: #8bad33;
}

.copy-open-quote {
  margin-top: -20px;
}

/* .copy-open-quote::before {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>');
  background-size: 28px 28px;
  width: 40px;
  left: -55px;
  bottom: -15px;
  z-index: 100;
}

.copy-close-quote::after {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>');
  width: 40px;
  left: 104%;
  margin-top: -20px;
  z-index: 100;
} */

/****************************************** 
  Image Slider
******************************************/

.slider-container {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.img-slider {
  align-self: center;
  position: relative;
  height: 400px;
  width: 600px;
  border-radius: 2px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.img-slider img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-left {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  max-width: 35px;
  padding: 10px;
  cursor: pointer;
}

.slide-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  max-width: 35px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  cursor: pointer;
}

.fade {
  animation: fade 5s;
}

/****************************************** 
  Dot Slider
******************************************/

.slider-dots {
  align-self: center;
  padding-top: 50px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 100ms ease;
}

.dot-active,
.dot:hover {
  background-color: #717171;
}

/****************************************** 
  Section -- Additional styles
******************************************/

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.bg-color {
  background-color: #fafafa;
}

.content-img {
  width: 45%;
}

.content-img-src {
  width: 90%;
  border-radius: 2px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

/****************************************** 
  Team
******************************************/

.content-people {
  width: 50%;
  display: flex;
}

.center {
  margin-top: 400px;
}

.people-cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 300px;
  padding: 10px;
  padding-top: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(27, 39, 51, 0.25) 0px 0px 20px 0px;
  z-index: 5;
}

.people-cards-side {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 250px;
  padding: 1px;
  padding-top: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  align-self: center;
  box-shadow: rgba(27, 39, 51, 0.25) 0px 0px 10px 0px;
  z-index: 0;
}

.card-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -10%;
}

.card-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -10%;
}

/* .image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
} */

.card-img {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.card-name {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #555;
}

.card-title {
  margin-top: -5px;
  font-size: 1rem;
  font-family: 'Open Sans';
  text-align: center;
  color: #777;
}

.card-content {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  font-family: 'Open Sans';
  color: #777;
  text-align: center;
  line-height: 30px;
}

.side-img {
  width: 70px;
  height: 70px;
}

.side-name {
  font-size: 16px;
}

.side-title {
  font-size: 14px;
}

.side-content {
  width: 70%;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  margin: 0 auto;
  margin-top: 25px;
  height: 50px;
  width: 150px;
  background-color: rgb(221, 0, 0);
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 0, 0);
}

.click-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.click-nav {
  width: 60px;
}

.click-left {
  align-self: center;
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.click-right {
  align-self: center;
  width: 20px;
  cursor: pointer;
}

/****************************************** 
  Resources and References
******************************************/

.resources-section {
  max-width: 100%;
  overflow: hidden;
}

.resources-title {
  overflow: hidden;
  font-family: 'Open Sans';
  font-size: 2rem;
  color: #c12b5b;
  margin-left: 80px;
  padding-top: 20px;
}

.resources-section {
  overflow: hidden;
}

.resource-cards {
  min-width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.resource-card {
  margin-left: 0;
  height: 420px;
  min-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  margin-right: 30px;
  margin-left: 15px;
}

.reference-title {
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 18px;
  text-decoration: none;
  color: #555;
}

.reference-src {
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #8aad33;
}

.reference-content {
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Merriweather';
  font-size: 14px;
  line-height: 35px;
  color: #656565;
}

.reference-link {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 115px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans';
  cursor: pointer;
}

.reference-link:visited {
  color: #fff;
}

.reference-link:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

/****************************************** 
  Footer
******************************************/

.footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-content1 {
  margin-top: -15px;
}

.footer-logo {
  margin-bottom: 30px;
  margin-left: 0px;
  width: 200px;
}

.footer-address {
  margin-top: -20px;
  font-style: normal;
  font-size: 1rem;
  font-family: 'Open Sans';
  color: #c12b5b;
}

.address-link {
  text-decoration: underline;
}

.footer-content2 {
  margin-top: -20px;
}

.footer-contact {
  color: #555;
  font-size: 1.5rem;
  font-family: 'Open Sans';
}

.footer-phone-link {
  text-decoration: none;
}

.footer-phone {
  color: #c12b5b;
  font-family: 'Open Sans';
  text-decoration: underline;
}

.footer-email-link {
  text-decoration: none;
}

.footer-email {
  color: #c12b5b;
  font-family: 'Open Sans';
  text-decoration: underline;
}

.address-link:hover,
.footer-address:hover,
.footer-phone:hover,
.footer-email:hover {
  color: #999;
}

.content-author-container {
  display: flex;
  justify-content: flex-end;
}

.content-author {
  margin-top: 0;
  text-align: right;
  font-family: 'Merriweather', serif;
  color: #c12b5b;
}

.clickable-ellipses {
  display: inline-block;
  padding-left: 2px;
  color: #555;
  font-size: 36px;
}

.content-quote-container {
  display: flex;
  flex-direction: column;
}

.content-quote-container::before {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>');
  background-size: 28px 28px;
  width: 40px;
  left: -55px;
  bottom: -15px;
  z-index: 100;
}

.content-quote-container::after {
  display: block;
  position: relative;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" fill="#8aad33" viewBox="0 0 512 512"><path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"/></svg>');
  width: 40px;
  left: 104%;
  margin-top: -20px;
  z-index: 100;
}

/****************************************** 
  Media Queries
******************************************/

@media only screen and (max-width: 1160px) {
  .section {
    height: 1200px;
    flex-direction: column;
  }

  .section_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .content-copy {
    width: 75%;
    border-radius: 2px;
    height: 50%;
    padding: 50px;
  }

  .slider-container {
    height: 50%;
  }

  .order2 {
    margin-top: -200px;
  }

  .team-section {
    height: 1000px;
  }

  .content-people {
    margin-top: 80px;
    width: 100%;
    display: flex;
  }

  .center {
    margin-top: 10px;
    width: 80%;
  }

  .people-cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(27, 39, 51, 0.25) 0px 0px 20px 0px;
    z-index: 5;
  }

  .people-cards-side {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 200px;
    padding: 1px;
    padding-top: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    align-self: center;
    box-shadow: rgba(27, 39, 51, 0.25) 0px 0px 10px 0px;
    z-index: 0;
  }

  .card-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -25%;
  }

  .card-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -25%;
  }

  .card-img {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  .card-name {
    font-size: 16px;
    font-family: 'Open Sans';
    text-align: center;
    color: #555;
  }

  .card-title {
    margin-top: -5px;
    font-size: 16px;
    font-family: 'Open Sans';
    text-align: center;
    color: #777;
  }

  .card-content {
    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #777;
    text-align: center;
    line-height: 30px;
  }

  .side-img {
    width: 50px;
    height: 50px;
  }

  .side-name {
    font-size: 14px;
  }

  .side-title {
    font-size: 12px;
  }

  .side-content {
    width: 70%;
    font-size: 10px;
    margin-top: 5px;
  }

  .btn {
    margin: 0 auto;
    margin-top: 20px;
    height: 35px;
    width: 90px;
    background-color: rgb(221, 0, 0);
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(255, 0, 0);
  }

  .click-right {
    margin: 0 auto;
    margin-top: 15px;
    width: 20px;
  }

  .mission-section {
    position: relative;
    height: 1200px;
  }

  .mission {
    height: 1200px;
  }

  .mission-copy_header {
    position: relative;
  }

  .mission-copy_header:after {}

  .content-img {
    order: 1;
    width: 100%;
    height: auto;
    margin-top: -103px;
    z-index: 0;
  }

  .content-img-src {
    width: 100%;
    max-height: 500px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
  }

  .mission-copy {
    order: 2;
    z-index: 0;
    width: 75%;
    margin-top: -100px;
  }

  .resources-section {
    height: 700px;
  }
}

@media only screen and (max-width: 740px) {
  .nav-links {
    width: 70%;
  }

  .new-content {
    min-height: 120px;
    max-height: 120px;
    width: 400px;
  }

  .new-content_thumbnail {
    height: 120px;
    width: 200px;
    margin-right: 5px;
  }

  .new-content_text {
    width: 400px;
    height: 200px;
    padding: 10px;
  }

  .article-text {
    font-size: 10px;
    align-self: center;
    font-family: 'Merriweather', serif;
    padding: 0px;
    padding-bottom: 20px;
  }

  .article-btn {
    align-self: center;
    margin-top: -15px;
    margin-left: -5px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none;
    height: 20px;
    width: 80px;
    background-color: #888;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    font-family: 'Open Sans';
    cursor: pointer;
  }

  .article-btn:hover {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #888;
  }

  .article-link {
    text-decoration: none;
    color: #fff;
  }

  .content-copy {
    width: 90%;
  }

  .copy-header {
    font-size: 20px;
    font-family: 'Open Sans';
    text-align: center;
    color: #444;
  }

  .copy-text {
    font-size: 14px;
    font-family: 'Merriweather';
    text-align: justify;
    line-height: 20px;
    color: #444;
  }

  .copy-text-read-more {
    padding-left: 5px;
    font-size: 14px;
    color: #555;
    font-style: italic;
  }

  .copy-emphasis {
    font-size: 16px;
    color: #8bad33;
  }

  .copy-open-quote {
    margin-top: -20px;
  }

  .slider-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%
  }

  .img-slider {
    align-self: center;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .img-slider img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }


}

@media only screen and (max-width: 630px) {
  .footer {
    flex-direction: column;
  }
  
  .footer-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
  }
  
  .footer-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 510px) {
  .nav-links {
    width: 80%;
  }

  .mission-copy_header {
    width: 300px;
    position: relative;
    font-family: 'Open Sans';
    font-size: 26px;
  }
  
  .mission-copy_header:after {
    content: '';
    position: absolute;
    width: 260px;
    height: 7px;
    top: 35px;
    left: 3px;
    background-color: #c12b5b;
  }

.resources-section {
  height: 450px;
}

.resources-title {
  font-size: 20px;
  margin-left: 20px;
}

.resource-cards {
  min-width: 100%;
  min-height: 330px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.resource-card {
  height: 320px;
  min-width: 250px;
}

.reference-title {
  font-size: 12px;
}

.reference-src {
  font-size: 12px;
}

.reference-content {
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 30px;
}

.reference-link {
  font-size: 12px;
  padding-top: 6px;
  height: 30px;
  width: 100px;
  border-radius: 2px;
}

.reference-link:visited {
  color: #fff;
}

.reference-link:hover {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #888;
}

}