* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    border: none;
}

header {
    width: 100%;
}

.banner {
    height: 70vh;
    width: 100%;
    background: url('./greenroof-banner.jpg') no-repeat center;
    background-size: cover;
}

.banner-content {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-logo {
    border-radius: 5px;
    width: 85vh;
}
